<turbo-frame id="main-content">
  <%= form_with(model: @user, class: 'signin-signup-form') do |form| %>
    <% if @user.errors.any? %>
      <%= render(ErrorExplainerComponent.new(errors: @user.errors.uniq.map(&:full_message))) %>
    <% end %>

    <%= form.label :username %>
    <%= form.text_field :username %>

    <div class="password-field" data-controller="password">
      <%= form.label :password %>
      <%= form.password_field :password, data: { password_target: 'password', action: 'password#verify'} %>
    </div>

    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>

    <%= form.submit 'Create account' %>
  <% end %>

  <div class="password-explanation">
    <h1>Password must:</h1>
    <%= 
      render(
        PasswordExplainerComponent.new(
          id: 'password-img-1',
          message: 'Be between 8 to 72 characters long'
        )
      )
    %>
    <%= 
      render(
        PasswordExplainerComponent.new(
          id: 'password-img-2',
          message: 'Have at least 1 uppercase character'
        )
      )
    %>
    <%= 
      render(
        PasswordExplainerComponent.new(
          id: 'password-img-3',
          message: 'Have at least 1 lowercase character'
        )
      )
    %>
    <%= 
      render(
        PasswordExplainerComponent.new(
          id: 'password-img-4',
          message: 'Have at least 1 special character #?!@$%^&*'
        )
      )
    %>
  </div>

  <div class="redirect">
    Already have an account? <%= link_to('Sign in', '/') %>
  </div>
<turbo-frame>
