<%= turbo_frame_tag 'main-content' do %>
  <%= form_with(url: '/signin') do |form| %>
    <% if flash.any? %>
      <div class="error-explanation" data-controller="error">
        <div>
          <ul>
            <li><%= flash[:error] %></li>
          </ul>
        </div>
        <div>
          <%= image_tag('close_button_grey.png', data: { action: 'click->error#remove'}) %>
        </div>
      </div>
    <% end %>

    <%= form.label :username %>
    <%= form.text_field :username %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit 'Sign in' %>
  <% end %>

  <div class="redirect">
    New user? <%= link_to('Register now', '/signup') %>
  </div>
<% end %>
