<turbo-frame id="main-content">
  <%= form_with(url: '/signin', class: 'signin-signup-form') do |form| %>
    <% if flash.any? %>
      <%= render(ErrorExplainerComponent.new(errors: [flash[:error]])) %>
    <% end %>

    <%= form.label :username %>
    <%= form.text_field :username %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit 'Sign in' %>
  <% end %>

  <div class="redirect">
    New user? <%= link_to('Register now', '/signup') %>
  </div>
</turbo-frame>
